.todoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.dark {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.darkMode {
    margin-top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8247F5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8247F5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.todoWrapperTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 30px 100px;
    border-radius: 5px;
    width: 20%;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
    border: solid 1.5px #dddddd;
}

.todoHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoBody {
    width: 400px;
    text-align: center;
}

.todoTitle {
    color: white;
    font-size: 3rem;
    background: linear-gradient(to right, #30CFD0 0%, #8247F5 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 15px;
}

.descriptionToDo {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.todoInput {
    padding: 8px 9px;
    border: solid 1px #8247F5;
    border-radius: 5px;  
    margin-right: 3px;
    outline: none;
}

.addTask {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #8247F5;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 2px;
    cursor: pointer;
}

.todoWrapperBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 30px 100px;
    border-radius: 7px;
    width: 20%;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
    border: solid 1.5px #dddddd;
    margin-bottom: 15px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 12px;
    margin-top: 20px;
}

.completedList {
    color: rgb(69, 209, 69);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-right: 2y0px;
}

.deletedList {
    color: red;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.currentList {
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
}

.myTasks {
    background: linear-gradient(to right, #30CFD0 0%, #8247F5 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

@media screen and (max-width: 540px) {
    .todoWrapperTop {
        width: 50%;
    }

    .todoWrapperBottom {
        width: 50%;
    }

    .todoHeader {
        width: 100%;
    }

    .todoForm {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}